
body {
    margin: 0;
    padding: 0;
  }

@media (max-width: 47.5em) {
    footer {
        text-align: center;

    }
    .footer-items {
        display: grid;
        grid-template-columns: 1fr;        
    }

    .features-items {
        grid-template-rows: 1fr 1fr 1fr;
    }
}
/* main */

/* features */

.feature {
    display: flex;
    align-items: center;
}

.features-header{
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.text-content{
    max-width: 100%;
}

.text-content h2{
    font-family: Graphik;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.text-content h4{
    font-family: Graphik;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.features-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;

}

.features-item {
    max-width: 255px;
}

.features-item h3 {
    font-family: Graphik;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.features-item p{
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.features-screen{
    margin-top: 52px;
    margin-bottom: 52px;
    max-width: 1177.34px;
    max-height: 658.3px;
    margin-left: auto;
    margin-right: auto;
}

.features-screen img{
    max-width: 100%;
    height: auto;
}


/* footer */

footer{ 
    position: relative;   
    background: #252B42;
    background-position: center;
    background-size: 1777px 567px;
    width: 100%;
    bottom: 0;
}

.footer-items {    
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 991px;
    padding: 150px 0px 150px 0px;
    margin-right: auto;
    margin-left: auto;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 267px;
    max-width: 100%;
    gap: 10px;
}

.footer-item {
    width: 180px;
    color: white;
}

.pages {
    width: 170px;
}

.footer-item ul {     
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer-item li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 48px;
}

.footer-row{  
    max-width: 284px;
    height: 193.99px;
    gap: 10px;
    color: white;
}

.footer-block-1{
    max-width: 284px;
    height: 46px;
}
.footer-block-2{
    max-width: 161px;
    height: 47px;
}

.footer-social-media {
    width: 170.96px;
    height: 80.99px;
    gap: 24px;

}

.footer-social-media a{
    color: white;
}

.social-media-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40.99px;
    padding: 20px 0px 20px 0px;
    gap: 24px;
    font-size: 40.99px;
}

